.panther-custom-header{
    border-radius: 0;
}
.panther-counter-text{
    margin-bottom: 0;
}
.panther-plan-price-card .Polaris-Stack{
    flex-wrap: nowrap;
}
.panther-plan-price-card .Polaris-Stack .Polaris-Stack__Item:last-child{
    flex: 1 1 auto;
}
@media (max-width: 767px){
    .panther-counter-text {
        font-size:13px !important;
    }
}
